.App {
  text-align: center;
}

.App-logo {
  height: 34.5rem;
  width: 100%;
}

.App-header {
  background-color: #aebad2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: rgb(19, 1, 1);
}

.App-link {
  color: #6b9ead;
}

